* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  :root{
    /* colors */
    --par-tree: #e8e7e7;
    --root-node: #ff6565;
    --root-listItem: #ffffff;
    --div-null: #7da8e8;
    --div-negative: #b1ead5;
    --div-positive: #fcbc81;

    /* border and box-shadow */
    --border: 1px solid #000;
    --border-hover: 2px solid #000;
    --shadow: 0 0 5px -1px #000;
  }